<div class="yeehaw-meta col-xs-10">
<span class="handle"><%= post.get("handle") %></span>
<p><%= post.escape("body") %></p>
</div>

<div class="votes col-xs-2">
  <% if (post.escape("up_voted") === "true") { %>
    <div class="upvoted glyphicon glyphicon-chevron-up"></div>
  <% } else { %>
    <div class="upvote glyphicon glyphicon-chevron-up"></div>
  <% } %>

  <span class="votecount"><%= post.escape("vote_count") %></span>

  <% if (post.escape("up_voted") === "false") { %>
    <div class="downvoted glyphicon glyphicon-chevron-down"></div>
  <% } else { %>
    <div class="downvote glyphicon glyphicon-chevron-down"></div>
  <% } %>
</div>

<div class="timestamp col-xs-12">
  <span class="glyphicon glyphicon-time"></span>
  <%= post.get("time_ago") || "less than a minute" %> ago
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= post.get("reply_count") || "0" %> replies
</div>
