<div class="wrapper">
<div class="container">
<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="user[username]" value="" placeholder="Username">

  <input type="password" name="user[password]" value="" placeholder="Password">

  <button type="submit" id="login-button">Register</button>
</form>
</div>

<ul class="bg-bubbles">
  <li><img src="<%= asset_path( 'icons/icons_13.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_15.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_33.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_25.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_35.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_36.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_42.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_43.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_44.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_45.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
  <li><img src="<%= asset_path( 'icons/icons_46.png' ) %>" style="height: 70%; width:70%; opacity: .5" /></li>
</ul>
</div>
<script>
  $("#login-button").click(function(event){
  	$('form').fadeOut(500);
  	$('.wrapper').addClass('form-success');
  });
</script>
