<h2><%= @post.handle %></h2>
<h3><%= @post.body %></h3>

<ul class="list-unstyled">
  <% @post.replies.each do |reply| %>
  <hr>
    <li><%= reply.body %></li>
  <% end %>
</ul>
<hr>
<form action="<%= replies_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="reply[post_id]" value="<%= @post.id %>">

  <input type="text" name="reply[body]" value="">

  <input type="submit" value="Add Reply">
</form>

<%= link_to "Edit Post", edit_post_url %>
<%= link_to "Posts", posts_url %>
